# ---- Collaborate REDAXO AddOn Daemon Config ----
#
# Install: sudo ln -s ##COLLABORATE_SCRIPT_PATH## /etc/systemd/system/##COLLABORATE_BASENAME##.service
# Run: sudo systemctl start ##COLLABORATE_BASENAME##.service
# Stop: sudo systemctl stop ##COLLABORATE_BASENAME##.service
#
# ---- Collaborate Log Rotate Config ---
# !! ATTENTION: you need root user privileges to set owner of the target log config file !!
# Set symlink: sudo ln -s ##COLLABORATE_LOGROTATE_PATH## /etc/logrotate.d/##COLLABORATE_BASENAME##
# sudo chown root:root ##COLLABORATE_LOGROTATE_PATH##

[Unit]
Description=Collaborate WebSocket Service [Project ##COLLABORATE_PROJECT##]

[Service]
User=root
Type=simple
TimeoutSec=0
PIDFile=/var/run/##COLLABORATE_BASENAME##.pid
ExecStart=/usr/bin/php ##COLLABORATE_INIT_SCRIPT_PATH##
KillMode=process
StandardOutput=append:##COLLABORATE_LOG_PATH##
StandardError=append:##COLLABORATE_LOG_PATH##
# Restart=on-abort
Restart=always
RestartSec=3

[Install]
# WantedBy=default.target
WantedBy=multi-user.target